[Desktop Entry]
Encoding=UTF-8
Name=Link to ../../../../../_images/Template_Matching_Template_Image.jpg
Type=Link
URL=https://docs.opencv.org/2.4/_images/Template_Matching_Template_Image.jpg
Icon=image-jpeg
